extends layout

block content
  h1 Login
  form(action="/login", method="post")
    div(class="form-group")
      label(for="username") Username:
      input(type="text" name="username" class="form-control" id="username")

      label(for="password") Password:
      input(type="text" name="password" class="form-control" id="username")

    button(type="submit" class="btn btn-success") Login