extends layout

block content
  h1 Register
  form(action="/register", method="post")
    div(class="form-group")
      label(for="firstname") First Name:
      input(type="text" class="form-control" id="firstname" name="firstname")

      label(for="lastname") Last Name:
      input(type="text" class="form-control" id="lastname" name="lastname")

      label(for="email") Email:
      input(type="text" class="form-control" id="email" name="email")

      label(for="username") Username:
      input(type="text" class="form-control" id="username" name="username")
      
      label(for="password") Password:
      input(type="text" class="form-control" name="password" id="password")

    button(type="submit" class="btn btn-primary") register